<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="\predict" method="post">
            <Label>Total Income</Label>
            <input type="text" name="Total Income">
            <br>
            <br>
            <br>
            <Label>Total Expenses</Label>
            <input type="text" name = "Total Expenses">
            <br>
            <br>
            <br>
            <Label>Target amount</Label>
            <input type="text" name = "Target amount">
            <br>
            <br>
            <br>
            <Label>surplus/defeciet</Label>
            <input type="text" name ="surplus/defeciet">
            <br>
            <br>
            <br>
            <Label>contributed margin</Label>
            <input type="text" name ="contributed margin">
            <br>
            <br>
            <br>
            <Label>break even point</Label>
            <input type="text" name = "break even point">
            <br>
            <br>
            <br>
            <Label>margin of safety%</Label>
            <input type="text" name = "margin of safety%">
            <br>
            <br>
            <br>
            <Label>margin of safety ₹</Label>
            <input type="text" name ="margin of safety ₹">
            <br>
            <br>
            <br>
            <Label>Investable Amount%</Label>
            <input type="text" name="Investable Amount%">
            <br>
            <br>
            <br>
            <Label>Investable amount</Label>
            <input type="text" name = 'Investable amount'>
            <br>
            <br>
            <br>
            <Label>Target return %</Label>
            <input type="text" name = "Target return %">
            <br>
            <br>
            <br>
            <Label>buffer amount</Label>
            <input type="text" name = "buffer amount">
            <br>
            <br>
            <br>
            <Label>risk abbility</Label>
            <input type="text" name = "risk abbility">
            <br>
            <br>
            <br>
            <Label>financial stability</Label>
            <input type="text" name = "financial stability">
            <br>
            <br>
            <br>
            <Label>risk willingness</Label>
            <input type="text" name = "risk willingness">
            <br>
            <br>
            <br>
            <Label>total risk ability</Label>
            <input type="text" name = "total risk ability">
            <br>
            <br>
            <br>
            <Label>total risk</Label>
            <input type="text" name = "total risk">
            <br>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>
        <br>
        
    </center>
</body>
</html>